<%- include('../partials/header') %>

<h3>The Whole Pie (all pizzerias)</h3>
<p><span style="color: crimson; text-shadow: -.15px .15px whitesmoke, -.3px .3px black">CLICK</span> any header to sort-by <span style="color: crimson; text-shadow: -.15px .15px whitesmoke, -.3px .3px black">THE WHOLE PIE</span> </p>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<section id="index-page">
  <table id="wholePie" class="searchable sortable">
      <thead>
          <tr>
              <th>NAME</th>
              <th>BOROUGH</th>
              <th>ADDRESS</th>
              <th>VEGAN FRIENDLY?</th>
              <th>RATING</th>
              <th>DISH</th>
          </tr>
      </thead>

      <tbody>
        <% pizzerias.forEach((pizzeria) => { %>
          <tr>
              <td>
                <strong>
                  <a href="/pizzerias/<%= pizzeria._id %>">
                    <%= pizzeria.name %>
                  </a>
              </strong>
              </td>  
              <td><%= pizzeria.borough %></td>
              <td><%= pizzeria.address %></td>
              <td><%= pizzeria.vegan ? 'Yasss' : 'Nah' %></td>
              <% let total = 0 %>
              <% pizzeria.reviews.forEach(function(r) { %>
                <% total += r.rating %>
                <% }) %>
              <td>
                <strong><%= (total / pizzeria.reviews.length).toFixed(1) %></strong>
              </td>
              <td><a href="/pizzerias/<%= pizzeria._id %>">click to review</a></td>

          </tr>
          <% }) %>    
      </tbody>
  </table>
  
</section>

  <tbody>

<%- include('../partials/footer') %>

