<%- include('../partials/header') %>

<h3>The Whole Pie (all pizzerias)</h3>
<section id="index-page">

  <table>
      <thead>
          <tr>
              <th style="font-size: 16px">NAME</th>
              <th style="font-size: 16px">BOROUGH</th>
              <th style="font-size: 16px">ADDRESS</th>
              <th style="font-size: 16px">VEGAN FRIENDLY?</th>
              <th style="font-size: 16px">RATING</th>
              <th style="font-size: 16px">DISH</th>
          </tr>
      </thead>

      <tbody>
        <% pizzerias.forEach((pizzeria) => { %>
          <tr>
              <td><%= pizzeria.name %></td>
              <td><%= pizzeria.borough %></td>
              <td><%= pizzeria.address %></td>
              <td><%= pizzeria.vegan ? 'Yasss' : 'Nah' %></td>
              <td></td>
              <td><a href="/pizzerias/<%= pizzeria._id %>">click to review</a></td>

          </tr>
          <% }) %>    
      </tbody>
  </table>
</section>

  <tbody>

<%- include('../partials/footer') %>

