<%- include('../partials/header') %>

<h3>The Whole Pie (all pizzerias)</h3>
<section id="index-page">

  <table>
      <thead>
          <tr>
              <th>NAME</th>
              <th>BOROUGH</th>
              <th>ADDRESS</th>
              <th>VEGAN FRIENDLY?</th>
          </tr>
      </thead>

      <tbody>
        <% pizzerias.forEach((pizzeria) => { %>
          <% console.log(pizzeria) %>
          <tr>
              <td><%= pizzeria.name %></td>
              <td><%= pizzeria.borough %></td>
              <td><%= pizzeria.address %></td>
              <td><%= pizzeria.vegan ? 'Yasss' : 'Nah' %></td>
          </tr>
          <% }) %>    
      </tbody>
  </table>
</section>


<%- include('../partials/footer') %>

