<%- include('../partials/header') %>

<section id="show-page">

    <table>
        <thead>
            <tr>
              <th>NAME</th>
              <th>BOROUGH</th>
              <th>ADDRESS</th>
              <th>VEGAN FRIENDLY?</th>
              <th>RATING</th>
            </tr>
          </thead>

        <tbody>
            <tr>
                <td style="font-size: 16px"><%= pizzeria.name %></td>
                <td style="font-size: 16px"><%= pizzeria.borough %></td>
                <td style="font-size: 16px"><%= pizzeria.address %></td>
                <td style="font-size: 16px"><%= pizzeria.vegan ? 'Yasss' : 'Nah' %></td>
                <td style="font-size: 16px"> <%= pizzeria.rating %> </td>
            </tr>
        </tbody>
    </table>
</section>

<!-- REVIEWS FORM HTML -->
<br><br><h3>Reviews</h3>
<form id="add-review-form" method="POST"
  action="/pizzerias/<%= pizzeria._id %>/reviews">
  <label>Comments:</label><br>
  <textarea name="content"></textarea><br>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br><br>
  <input type="submit" value="Add Review">
</form>

<!-- THE FUNCTION needed to DISPLAY the pizzeria's REVIEWS-->
<br>
  <table>
    <thead>
      <tr>
        <th>DATE</th>
        <th>REVIEW</th>
        <th>RATING</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <!-- .toLocaleDateString() provides a more friendly date format -->
          <td> 05/27/2023 </td>
          <td>yadda yadda yadaadadada</td>
          <td>5</td>
        </tr>

    </tbody>
  </table>

    <h5>No Reviews Yet</h5>

  
<%- include('../partials/footer') %>
