<%- include('../partials/header') %>

<section id="show-page">

    <table>
        <thead>
            <tr>
              <th>NAME</th>
              <th>BOROUGH</th>
              <th>ADDRESS</th>
              <th>OPEN TIL</th>
              <th>VEGAN FRIENDLY?</th>
            </tr>
          </thead>

        <tbody>
            <tr>
                <td style="font-size: 3vmin" style="height: 30px; width: 30px;">  <span style="text-shadow: -.15px .15px whitesmoke, -.3px .3px black;">
                  <strong>
                    <%= pizzeria.name %></td>
                  </strong>
                <td style="font-size: 3vmin"><%= pizzeria.borough %></td>
                <td style="font-size: 3vmin"><%= pizzeria.address %></td>
                <td style="font-size: 3vmin" type="time-local"><%= pizzeria.openTil %></td>
                <td style="font-size: 3vmin"><%= pizzeria.vegan ? 'Yasss' : 'Nah' %></td>
                
            </tr>
        </tbody>
    </table>
</section>

<br>
<!-- Ratings Table -->
<table id="ratingsTable">
  <thead>
    <tr>
      <th>RATING</th>
    </tr>
  </thead>

  <tbody>
    <% let total = 0 %>
    <% pizzeria.reviews.forEach(function(r) { %>
    <% total += r.rating %>
    <% }) %>
    <tr>
    <td id="ratingsNum" style="font-size: 20px" style="height: 30px; width: 30px">
      <strong><%= (total / pizzeria.reviews.length).toFixed(1) %></strong>
    </td>  
    </tr>
  </tbody>
</table>

<!-- REVIEWS FORM HTML -->
<br><br><h3>Reviews</h3>
<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/pizzerias/<%= pizzeria._id %>/reviews">
    <label>Comments:</label><br>
    <textarea name="content"></textarea><br>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1 (nah, I'm good)</option>
      <option value="2">2 (yeesh) </option>
      <option value="3 " selected>3 (average)</option>
      <option value="4">4 (damn fine)</option>
      <option value="5">5 (holy shit)</option>
    </select><br><br>
    <input type="submit" value="Add Review">
  </form>
<% } %>
<br>

<!-- THE FUNCTION needed to DISPLAY the pizzeria's REVIEWS-->

<% if (pizzeria.reviews.length) { %>
  <table>
    
    <thead>
      <tr>
        <th>USER</th>
        <th>DATE</th>
        <th>REVIEW</th>
        <th>RATING</th>

      </tr>
    </thead>

    <tbody>
      <% let total = 0 %>
      <% pizzeria.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" style="height: 8vmin; width: 8vmin; padding: 1vmin 1vmin 1vmin 1vmin;">  <span style="color: crimson; text-shadow: -.25px .25px whitesmoke, -.5px .5px black; font-size: 2.25vmin;"> <%= r.userName %></span> </td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td style="font-size: 2.5vmin"><%= r.rating %></td>
          <td style="background-color: whitesmoke;">
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <!-- Adding one more row to display total Rating -->
      <tr>
        <td colspan="3"></td>
        <td id ="ratingsNum" style="font-size: 20px;">
          <strong><%= (total / pizzeria.reviews.length).toFixed(1) %></strong>
        </td>
      </tr>
    </tbody>

  </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>
